[Unit]
Description=service_description
After=network.target

[Service]
WorkingDirectory={{ project_dir }}
ExecStart={{ venv_dir }}/bin/python manage.py runserver 0.0.0.0:80
Type=simple

[Install]
WantedBy=default.target
